<h3>New Post</h3>

<%= form_for @post, url: { action: "create" } do |post| %>
  <%= post.label :title %>
  <%= post.text_field :title %>
  
  <%= post.label :body %>
  <%= post.text_area :body %>
  
  <%= post.submit "Submit" %>
<% end %>
